body{
    background-image: url("pokemon.jpg");
    opacity: 1;
    background-size: cover;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    background-blend-mode:screen;
    background-color: rgb(168, 171, 191);
}